<!--Header-Section-->
<header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                <div class="logo"><a href="javascript:void(0)"><img src="gs://hackneysocial-71b7f.appspot.com/logo.png" alt=""></a></div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="visible-xs visible-sm" ui-sref-active="active"><a ng-click="collapse()" class="active" ui-sref="admin.profile">Profile</a></li>
                        <li class="visible-xs visible-sm" ui-sref-active="active"><a ng-click="collapse()" ui-sref="admin.profile">Add Admin</a></li>
                        <li class="visible-xs visible-sm" ui-sref-active="active"><a ng-click="collapse()" ui-sref="admin.addvenue">Add Venue</a></li>
                        <li class="visible-xs visible-sm" ui-sref-active="active"><a ng-click="collapse()" ui-sref="admin.dashboard">Data</a></li>
                        <li class="" ui-sref-active="active"><a ui-sref="admin.profile">Explore Hackey Social</a></li>
                        <li class=""><a ng-click="logout()" type="submit">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Header-Section-->

    <!--Top-Content-->
	<section id="top-content" class="top-content-outer">
        <div class="top-content container">
            <div class="row">
                <div class="top-content-inner col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-7">
                    <div class="top-content-inner-nav col-lg-1 col-md-1 col-sm-1 hidden-xs hidden-sm">
                        <ul class="nav nav-bar">
                            <li class="navigation-item" ui-sref-active="active"><a id='profile' class="active" ui-sref="admin.profile"><i class="fa fa-fw fa-user fa-2x"></i></a></li>
                            <li class="navigation-item" ui-sref-active="active"><a id='admin' ui-sref="admin.profile"><i class="fa fa-fw fa-unlock-alt fa-2x"></i></a></li>
                            <li class="navigation-item" ui-sref-active="active"><a id='venue' ui-sref="admin.addvenue"><i class="fa fa-fw fa-plus-circle fa-2x"></i></a></li>
                            <li class="navigation-item" ui-sref-active="active"><a id='data' ui-sref="admin.dashboard"><i class="fa fa-fw fa-bar-chart-o fa-2x"></i></a></li>
                            <li class="navigation-item"><a ng-click="logout()" type="submit"><i class="fa fa-fw fa-sign-out fa-2x"></i></a></li>
                        </ul>
                    </div>									  
                    <div class="top-content-inner-main col-lg-11 col-md-11 col-sm-11">
                        
                        <ui-view></ui-view>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Top-Content-->
    
    <!--Footer-Content-->
    <footer class="base-color">
        <div class="container footer">
            <div class="row">
                <div class="col-lg-12 col-sm-7 footer-outer">
                    <div class="list-group-mod">
                        <ul>
                            <li class="list-group-mod-item"><a href="#">ABOUT US</a></li>
                            <li class="list-group-mod-item"><a href="#">GET FEATURED</a></li>
                            <li class="list-group-mod-item"><a href="#">OUR INSTAGRAM</a></li>
                            <li class="list-group-mod-item"><a href="#">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-Content-->